<div class="jumbotron container-fluid mt-2">
  <h1 class="display-4">TodoList</h1>
    <ul class="lead">
      <li>
User can Add and Delete Tasks/Items
      </li>
      <li>
        User can mark them as completed.
      </li>
    </ul>
  <hr class="my-4">
  <h1 class="display-4">About Me</h1>
  <p class="lead ms-2 mt-3">I am Namit Kumar, a Full Stack Developement Student.</p>
  <hr class="my-4">
  <p>To learn more about me, click on the button below.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/NamitKumar16" role="button">Learn more</a>
</div>
